body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  margin: 20px 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.books > h3,
p {
  margin-bottom: 0;
}

/*
.books > p {
  margin-top: 0;
  padding-top: 0;
} */

.books::after {
  content: '';
  width: 200px;
  height: 1px;
  background-color: darkgray;
  display: block;
  margin: 10px auto;
}

.input-fields {
  padding: 10px 0;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-books {
  width: 60%;
  padding: 0 5px;
}

.remove-btn {
  border: 2px solid black;
  background-color: #fff;
  padding: 0.2rem 0.3rem;
  margin: 4px 2px;
}
